<div
  class="relative mt-24 mb-72 w-4/6 flex flex-col items-center justify-center text-center"
>
  <!-- Imagem do spellbook no topo, centralizada -->
  <div class="absolute top-0 w-full flex justify-center">
    <img
      src="/public/assets/lpAssets/mystery-opened-spellbook.png"
      alt="Spellbook"
      width="80"
      class="transform translate-y-[-50%]"
    />
  </div>

  <h3 class="mt-24 text-4xl tracking-wide relative z-10">
    Surpreenda-se com um <span class="text-purple-400">livro especial</span> todo mês,
    acompanhado de <span class="text-purple-400">brindes exclusivos</span> que
    transformarão sua jornada literária em uma <span class="text-purple-400">experiência mágica</span>.
  </h3>

  <!-- Imagem da planchete na parte inferior esquerda -->
  <div class="absolute bottom-[-40px] left-0">
    <img
      src="/public/assets/lpAssets/mystery-ouija-planchette.png"
      alt="Planchette"
      width="50"
      class="transform translate-x-1/2 translate-y-1/2"
    />
  </div>

  <!-- Imagem da bola de cristal na parte inferior direita -->
  <div class="absolute bottom-[-40px] right-0">
    <img
      src="/public/assets/lpAssets/mystery-crystal-ball.png"
      alt="Crystal Ball"
      width="50"
      class="transform -translate-x-1/2 translate-y-1/2"
    />
  </div>
</div>

<style>
  .gradient-bg {
    background: linear-gradient(to right, #1a0d29, #12081f, #1a0d29);
  }
</style>
